<!-- views/pages/auth.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body class="container">

    <header>
           </header>

    <main>
        <div>
<p style="color:red"><%= warning %></p>
<form action="login" method="post">
  User password:<br>
  <input type="password" name="password">
  <input type="submit" value="password">
</form> 
        </div>
    </main>

    <footer>
           </footer>

</body>
</html>

