<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="addApp">
<head>
<style>
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#vimeo_1, #matterport_2, #calculator {
display: none;
}
#vimeo_1_label, #matterport_2_label, #calculator_label {
cursor: pointer;
}
 .video, .matterport, .calculator1 {
display:none;
}
#vimeo_1:checked  ~  .video {display: block}
#matterport_2:checked ~ .matterport  {display: block}
#calculator:checked ~ .calculator1  {display: block}

div {
 border: 1px solid black;
} 	  
.calculator1 {
width: 200px;
}
.M {
width: 100%;
}
</style>

    </head>
<body class="container">

    <header>
           </header>

    <main>
        <div>
 <input id="vimeo_1" type="radio" name="tab" checked="checked" /> 	  				 	 	 	    		  	   		  		
 <label for="vimeo_1" id="vimeo_1_label">Vimeo</label> 	  		
 <input id="matterport_2" type="radio" name="tab" /> 	  				 	 	 	    		  	   		  		
<label for="matterport_2" id="matterport_2_label">Matterport</label>
 <input id="calculator" type="radio" name="tab" /> 	  				 	 	 	    		  	   		  		
 <label for="calculator" id="calculator_label">Calculator</label> 
 
 <form action="video" method="post" class="video" ng-submit="submit($event)" ng-controller="addController">		 	 	 	    		  	   		  		
 <div>
  <br>Vimeo ID:<br>
  <input type="text" name="vimeoID" ng-change="myChange()" ng-model="vimeoID">
  <input type="button" class="addButton" value="Add" ng-click="addItem()">
  <span style="color:red" ng-show="messageForm" ng-cloak>Please input at least one video before</span>
  <div id="container"></div>
</div>
  <input type="submit" value="Video">
</form>
 
<form  action="matterport" method="post" class="matterport"> 	  				 	 	 	    		  	   		  		
<div>
  Matterport 360 ID:<br>
  <input type="text" name="matterport360ID"><br>
  <input type="submit" value="360 view"> 
</div>
</form>

<div class="calculator1"> 
<input type="text">
<div class="M">
<input type="button" value="MC">
<input type="button" value="MR">
<input type="button" value="MS">
<input type="button" value="M+">
<input type="button" value="M-">
</div>
<div class="M">
<input type="button" value="<-">
<input type="button" value="CE">
<input type="button" value="C">
<input type="button" value="+-">
<input type="button" value="V">
</div>
<div class="M">
<input type="button" value="7">
<input type="button" value="8">
<input type="button" value="9">
<input type="button" value="/">
<input type="button" value="%">
</div>
<div class="M">
<input type="button" value="4">
<input type="button" value="5">
<input type="button" value="6">
<input type="button" value="*">
<input type="button" value="1/x">
</div>
<div class="M">
<input type="button" value="1">
<input type="button" value="2">
<input type="button" value="3">
<input type="button" value="-">
<input type="button" value="=">
</div>
<div class="M">
<input type="button" value="0">
<input type="button" value=",">
<input type="button" value="+">
</div>
</div>
        </div>
    </main>

    <footer>
           </footer>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
var addApp = angular.module("addApp", []);
    addApp.controller("addController", function ($scope, $compile) {
    $scope.addItem = function () {
           if ($scope.vimeoID != undefined) {
               var htmlCode = '<div class="videoItem"><br>Vimeo ID:<br><input type="text" name="vimeoID" value="'+$scope.vimeoID+'" required><input type="button" ng-click="removeItem($event)" style="color:red" class="removeButton" value="&#x2718"></div>';
               var item = $compile(htmlCode)($scope);
               $scope.vimeoID = undefined;
               var videoContainer = angular.element(document.querySelector("#container"));
               var newDiv = angular.element(item);
               videoContainer.append(newDiv);
           } else {
                   $scope.messageForm = true;
                  }
    }
    $scope.removeItem = function ($event) {
           angular.element($event.currentTarget).parent().remove();
    }
    $scope.submit = function($event) {
           var videoContainer = angular.element(document.querySelector("#container"));
           if ((!(videoContainer.children().length)) && (!$scope.vimeoID)) {
              $scope.messageForm = true;
              $event.preventDefault();
          }
    }
    $scope.myChange = function() {
           $scope.messageForm = false;
    }
});
</script>

</body>
</html>


