<!-- views/pages/matterport.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body class="container">

    <header>
           </header>

    <main>
        <div>
<!-- <h1><%= title %></h1> -->
        <div>
<input type="button" value="Back" onclick="history.back()">
        </div> 
<iframe width="853" height="480" src="https://my.matterport.com/show/?m=<%= title %>&play=1&qs=1" frameborder="0" allowfullscreen></iframe>
        </div>
    </main>

    <footer>
           </footer>

</body>
</html>
